* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#ball {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background: rgb(37, 206, 93);
    border: 5px solid rgb(181, 228, 10);
    border-radius: 50px;
    transition: all 1s ease-in;
  }

  /* .box {
      display: flex;
      margin: 100px auto;
      width: 100px;
      height: 100px;
      background-color: sandybrown;
      transition: transform 300ms ease;
  }

  .box:hover {
    transform: translateY(10px);
  } */