
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
    display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-image: linear-gradient(90deg, #7d5fff, #7158e2);
  font-family: 'Roboto', sans-serif;
}

.search {
    position: relative;
    height: 50px;
  }

  .search .input {
    padding: 15px;
    height: 50px;
    width: 50px;
    background-color: #fff;
    border: 0;
    border-radius: 10px 0 0 10px;
    font-size: 18px;
    transition: width 0.3s ease;
  }

  .btn {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    background-color: #fff;
    border: 0;
    border-radius: 0 10px 10px 0 ;
    cursor: pointer;
    font-size: 24px;
    transition: transform 0.3s ease;
  }

  .btn:focus,
.input:focus {
  outline: none;
}

.search.active .input {
    width: 200px;
  }
  
  .search.active .btn {
    transform: translateX(198px);
  }