* {
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    background-color: steelblue;
    overflow: hidden;
  }

  /* 이미지가 빈 객체 */
  .empty {
    height: 180px;
    width: 180px;
    margin: 10px;
    border: solid 3px black;
    background: white;
  }

  /* 이미지로 채워지는 객체 */
  .fill {
    height: 180px;
    width: 180px;
    background-image: url('https://source.unsplash.com/random/150x150');
    cursor: pointer;
  }

  /*js*/
  .hold {
    border: solid 5px #ccc;
  }

  /* 드래그한 이미지가 hoverd된 객체에 hover될 때 */
  .hovered {
    background-color: #333;
    border-color: white;
    border-style: dashed;
  }

  @media (max-width: 800px) {
    body {
      flex-direction: column;
    }
  }