@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    color:azure;
    background-color: #833ba1;
    font-family: 'Roboto Mono', sans-serif;
}

.counter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 30px 50px;
}

.counter {
    margin-top: 10px;
    font-size: 60px;
}

@media (max-width: 580px) {
    body {
      flex-direction: column;
    }
  }