@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: rgb(173, 207, 108);
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

div {
  position: absolute;
  bottom: 20px;
  padding: 10px 20px;
  color: #fff;
  background: rgba(0, 0, 0, 0.2);
  font-size: 20px;
}

input {
  width: 50px;
  padding: 5px;
  background-color: rgb(173, 207, 108);
  border: 0;
  color: rgb(110, 78, 78);
  text-align: center;
}

label {
  padding-right: 10px;
}

input:focus {
  outline: none;
}