@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: black;
  font-family: 'Roboto', sans-serif;
}

button {
  position: relative;
  padding: 30px 40px;
  background-color: rgb(20, 9, 71);
  color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 15px;
  text-transform: uppercase; /* 글자 형태 바꾸기(전부 대문자) */
  overflow: hidden;
}

button:focus {
  outline: none;
}

/* js 기능 추가 부분 */
button .circle {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: bigger 0.5s ease-out;
}

@keyframes bigger {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}